@model Slider
@{
    ViewData["Title"] = "Update";
}

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Create Home Part 4
    </h2>
</div>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-6">
        <!-- BEGIN: Form Layout -->
        <form method="post" asp-area="admin" asp-controller="Slider" asp-action="update" enctype="multipart/form-data">
            <div asp-validation-summary="All" style="color:red; margin-bottom:30px;"></div>
            <div class="intro-y box p-5">
                <div>
                    <label asp-for="ImageFile">Product Name</label>
                    <input asp-for="ImageFile" class="input w-full border mt-2">
                </div>

                <div>
                    <label>Title</label>
                    <input asp-for="Title" class="input w-full border mt-2" placeholder="Input text">
                </div>
                <div>
                    <label>Subtitle</label>
                    <input asp-for="Subtitle" class="input w-full border mt-2" placeholder="Input text">
                </div>
                <div>
                    <label>Title2</label>
                    <input asp-for="Title2" class="input w-full border mt-2" placeholder="Input text">
                </div>
                <div>
                    <label>Title3</label>
                    <input asp-for="Title3" class="input w-full border mt-2" placeholder="Input text">
                </div>
                <div class="text-right mt-5">
                    <a asp-area="admin" asp-controller="Slider" asp-action="index" class="button w-24 border text-gray-700 mr-1">Cancel</a>
                    <button type="submit" class="button w-24 bg-theme-1 text-white">Create</button>
                </div>
            </div>
        </form>
        <!-- END: Form Layout -->
    </div>
</div>


