@model Setting
@{
    ViewData["Title"] = "Update";
}

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Update Setting
    </h2>
</div>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-6">
        <!-- BEGIN: Form Layout -->
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" style="color:red; margin-bottom:30px;"></div>
            <input asp-for="Id" hidden />
            <input asp-for="Logo" hidden />
            <input asp-for="AppImage" hidden />
        <div class="intro-y box p-5">
            <div>
                <label asp-for="ImageFile">Logo</label>
                <input asp-for="ImageFile" class="input w-full border mt-2">
            </div>
            <div>
                <label asp-for="ImageApp">App Image</label>
                <input asp-for="ImageApp" class="input w-full border mt-2">
            </div>

            <div>
                <label asp-for="Phone">Phone 1</label>
                <input asp-for="Phone" class="input w-full border mt-2" placeholder="Input text">
            </div>
            <div>
                <label asp-for="Phone2">Phone 2</label>
                <input asp-for="Phone2" class="input w-full border mt-2" placeholder="Input text">
            </div>
            <div>
                <label asp-for="About">About</label>
                <input asp-for="About" class="input w-full border mt-2" placeholder="Input text">
            </div>
            <div>
                <label asp-for="WorkPeriodDetail">Work Period Detail</label>
                <input asp-for="WorkPeriodDetail" class="input w-full border mt-2" placeholder="Input text">
            </div>
            <div>
                <label asp-for="Address">Adress 1</label>
                <input asp-for="Address" class="input w-full border mt-2" placeholder="Input text">
            </div>
            <div>
                <label asp-for="Address2">Adress 2</label>
                <input asp-for="Address2" class="input w-full border mt-2" placeholder="Input text">
            </div>
            <div>
                <label asp-for="Email">Email 1</label>
                <input asp-for="Email" class="input w-full border mt-2" placeholder="Input text">
            </div>
            <div>
                <label asp-for="Email2">Email 2</label>
                <input asp-for="Email2" class="input w-full border mt-2" placeholder="Input text">
            </div>

            <div>
                <label asp-for="OpenTime">OpenTime</label>
                <input asp-for="OpenTime" class="input w-full border mt-2" placeholder="Input text">
            </div>

            <div>
                <label asp-for="CloseTime">CloseTime</label>
                <input asp-for="CloseTime" class="input w-full border mt-2" placeholder="Input text">
            </div>

            <div>
                <label asp-for="MondaySaturday">MondaySaturday</label>
                <input asp-for="MondaySaturday" class="input w-full border mt-2" placeholder="Input text">
            </div>

            <div>
                <label asp-for="Friday">Friday</label>
                <input asp-for="Friday" class="input w-full border mt-2" placeholder="Input text">
            </div>

            <div>
                <label asp-for="Sunday">Sunday</label>
                <input asp-for="Sunday" class="input w-full border mt-2" placeholder="Input text">
            </div>

            <div>
                <label asp-for="CalendarEvents">CalendarEvents</label>
                <input asp-for="CalendarEvents" class="input w-full border mt-2" placeholder="Input text">
            </div>
            <div class="text-right mt-5">
                <a asp-area="admin" asp-controller="Setting" asp-action="index" class="button w-24 border text-gray-700 mr-1">Cancel</a>
                <button type="submit" class="button w-24 bg-theme-1 text-white">Update</button>
            </div>
        </div>
        </form>
        <!-- END: Form Layout -->
    </div>
</div>

