@model PageDetail
@{
    Layout = null;
}
<div class="col-md-12 text-center wow fadeIn top15" data-wow-delay="300ms">
    <h2 class="heading bottom45 darkcolor font-light2">
       @Model.Title
        <span class="divider-center"></span>
    </h2>
    <div class="col-md-8 offset-md-2 bottom40">
        <p>@Model.Desc</p>
    </div>
</div>
